# Microchip Interrupt Controller configuration options
# Copyright (c) 2024 Microchip Technology Inc. and its subsidiaries.
# SPDX-License-Identifier: Apache-2.0

config INTC_MICROCHIP_EIC_U2254
	bool "External Interrupt Controller (EIC) Driver"
	default y
	depends on DT_HAS_MICROCHIP_EIC_U2254_ENABLED
	help
	  Enable EIC driver.  This is required for GPIO interrupt support.
