# Microchip Flash configuration options
# Copyright (c) 2024 Microchip Technology Inc. and its subsidiaries.
# SPDX-License-Identifier: Apache-2.0

menuconfig FLASH_MICROCHIP_NVMCTRL_03929
	bool "Flash driver"
	default y
	depends on DT_HAS_MICROCHIP_NVMCTRL_03929_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_DRIVER_ENABLED
	select MPU_ALLOW_FLASH_WRITE if ARM_MPU
	help
	  Enable Flash driver.

config SOC_FLASH_SAM0_EMULATE_BYTE_PAGES
	bool "Emulate byte-sized pages"
	depends on FLASH_MICROCHIP_NVMCTRL_03929
	default y if SOC_SERIES_SAMC20 || \
		     SOC_SERIES_SAMC21
	help
	  Emulate a device with byte-sized pages by doing a
	  read/modify/erase/write.
